//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 08 13:23:25 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "eIGHT" LOCATE = SITE "P120" LEVEL 1;
COMP "sIX" LOCATE = SITE "P116" LEVEL 1;
COMP "spi_channel[0]" LOCATE = SITE "P46" LEVEL 1;
COMP "displayp1[0]" LOCATE = SITE "P29" LEVEL 1;
COMP "spi_channel[1]" LOCATE = SITE "P61" LEVEL 1;
COMP "displayp1[1]" LOCATE = SITE "P50" LEVEL 1;
COMP "spi_channel[2]" LOCATE = SITE "P62" LEVEL 1;
COMP "displayp1[2]" LOCATE = SITE "P35" LEVEL 1;
COMP "spi_channel[3]" LOCATE = SITE "P65" LEVEL 1;
COMP "displayp1[3]" LOCATE = SITE "P30" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "displayp1[4]" LOCATE = SITE "P27" LEVEL 1;
COMP "displayp1[5]" LOCATE = SITE "P32" LEVEL 1;
COMP "displayp1[6]" LOCATE = SITE "P41" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "tWO" LOCATE = SITE "P101" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "six2" LOCATE = SITE "P140" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "spi_miso" LOCATE = SITE "P45" LEVEL 1;
COMP "sEVEN" LOCATE = SITE "P118" LEVEL 1;
COMP "four2" LOCATE = SITE "P134" LEVEL 1;
COMP "fIVE" LOCATE = SITE "P114" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "tHREE" LOCATE = SITE "P104" LEVEL 1;
COMP "seven2" LOCATE = SITE "P142" LEVEL 1;
COMP "displayselp1[0]" LOCATE = SITE "P26" LEVEL 1;
COMP "displayselp1[1]" LOCATE = SITE "P34" LEVEL 1;
COMP "displayselp1[2]" LOCATE = SITE "P40" LEVEL 1;
COMP "displayselp1[3]" LOCATE = SITE "P51" LEVEL 1;
COMP "two2" LOCATE = SITE "P127" LEVEL 1;
COMP "oNE" LOCATE = SITE "P99" LEVEL 1;
COMP "five2" LOCATE = SITE "P138" LEVEL 1;
COMP "one2" LOCATE = SITE "P124" LEVEL 1;
COMP "avr_rx" LOCATE = SITE "P59" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "eight2" LOCATE = SITE "P144" LEVEL 1;
COMP "fOUR" LOCATE = SITE "P111" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "three2" LOCATE = SITE "P132" LEVEL 1;
TIMEGRP clk = BEL "seg/ctr/M_ctr_q_0" BEL "seg/ctr/M_ctr_q_1" BEL
        "seg/ctr/M_ctr_q_2" BEL "seg/ctr/M_ctr_q_3" BEL "seg/ctr/M_ctr_q_4"
        BEL "seg/ctr/M_ctr_q_5" BEL "seg/ctr/M_ctr_q_6" BEL
        "seg/ctr/M_ctr_q_7" BEL "seg/ctr/M_ctr_q_8" BEL "seg/ctr/M_ctr_q_9"
        BEL "seg/ctr/M_ctr_q_10" BEL "seg/ctr/M_ctr_q_11" BEL
        "seg/ctr/M_ctr_q_12" BEL "seg/ctr/M_ctr_q_13" BEL "seg/ctr/M_ctr_q_14"
        BEL "seg/ctr/M_ctr_q_15" BEL "seg/ctr/M_ctr_q_16" BEL
        "seg/ctr/M_ctr_q_17" BEL "clk_BUFGP/BUFG" BEL "reset_cond/M_stage_q_3"
        BEL "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL "avr/M_block_q_3" BEL "avr/M_busy_q" BEL
        "avr/M_block_q_2" BEL "avr/spi_slave/M_ss_reg_q" BEL
        "avr/spi_slave/M_sck_reg_q_1" BEL "avr/spi_slave/M_sck_reg_q_0" BEL
        "avr/spi_slave/M_miso_reg_q" BEL "avr/spi_slave/M_bit_ct_q_2" BEL
        "avr/spi_slave/M_bit_ct_q_1" BEL "avr/spi_slave/M_bit_ct_q_0" BEL
        "avr/spi_slave/M_data_q_0" BEL "avr/cclk_detector/M_ctr_q_13" BEL
        "avr/cclk_detector/M_ctr_q_12" BEL "avr/cclk_detector/M_ctr_q_11" BEL
        "avr/cclk_detector/M_ctr_q_10" BEL "avr/cclk_detector/M_ctr_q_9" BEL
        "avr/cclk_detector/M_ctr_q_8" BEL "avr/cclk_detector/M_ctr_q_7" BEL
        "avr/cclk_detector/M_ctr_q_6" BEL "avr/cclk_detector/M_ctr_q_5" BEL
        "avr/cclk_detector/M_ctr_q_4" BEL "avr/cclk_detector/M_ctr_q_3" BEL
        "avr/cclk_detector/M_ctr_q_2" BEL "avr/cclk_detector/M_ctr_q_1" BEL
        "avr/cclk_detector/M_ctr_q_0" BEL "avr/uart_tx/M_ctr_q_6" BEL
        "avr/uart_tx/M_ctr_q_5" BEL "avr/uart_tx/M_ctr_q_4" BEL
        "avr/uart_tx/M_ctr_q_3" BEL "avr/uart_tx/M_ctr_q_2" BEL
        "avr/uart_tx/M_ctr_q_1" BEL "avr/uart_tx/M_ctr_q_0" BEL
        "avr/uart_tx/M_txReg_q" BEL "avr/uart_tx/M_blockFlag_q" BEL
        "avr/uart_tx/M_savedData_q_0" BEL "avr/uart_tx/M_state_q_FSM_FFd1" BEL
        "avr/uart_tx/M_bitCtr_q_2" BEL "avr/uart_tx/M_bitCtr_q_1" BEL
        "avr/uart_tx/M_bitCtr_q_0" BEL "avr/uart_tx/M_state_q_FSM_FFd2" BEL
        "avr/Mshreg_M_block_q_2";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

