
NET "clk" TNM_NET = "clk";



NET "eIGHT" LOC = P120;
NET "eIGHT" IOSTANDARD = LVTTL;
NET "eIGHT" PULLUP;
NET "sEVEN" LOC = P118;
NET "sEVEN" IOSTANDARD = LVTTL;
NET "sEVEN" PULLUP;
NET "sIX" LOC = P116;
NET "sIX" IOSTANDARD = LVTTL;
NET "sIX" PULLUP;
NET "fIVE" LOC = P114;
NET "fIVE" IOSTANDARD = LVTTL;
NET "fIVE" PULLUP;
NET "fOUR" LOC = P111;
NET "fOUR" IOSTANDARD = LVTTL;
NET "fOUR" PULLUP;
NET "tHREE" LOC = P104;
NET "tHREE" IOSTANDARD = LVTTL;
NET "tHREE" PULLUP;
NET "tWO" LOC = P101;
NET "tWO" IOSTANDARD = LVTTL;
NET "tWO" PULLUP;
NET "oNE" LOC = P99;
NET "oNE" IOSTANDARD = LVTTL;
NET "oNE" PULLUP;




NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;


