NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38;
NET "rst_n" IOSTANDARD = LVTTL;

NET "matrixsel1[0]" LOC = P144;
NET "matrixsel1[0]" IOSTANDARD = LVTTL;
NET "matrixsel1[1]" LOC = P1;
NET "matrixsel1[1]" IOSTANDARD = LVTTL;
NET "matrixsel1[2]" LOC = P140;
NET "matrixsel1[2]" IOSTANDARD = LVTTL;
NET "matrixsel1[3]" LOC = P141;
NET "matrixsel1[3]" IOSTANDARD = LVTTL;
NET "matrixsel1[4]" LOC = P134;
NET "matrixsel1[4]" IOSTANDARD = LVTTL;
NET "matrixsel1[5]" LOC = P137;
NET "matrixsel1[5]" IOSTANDARD = LVTTL;
NET "matrixsel1[6]" LOC = P127;
NET "matrixsel1[6]" IOSTANDARD = LVTTL;
NET "matrixsel1[7]" LOC = P131;
NET "matrixsel1[7]" IOSTANDARD = LVTTL;

NET "matrixrow1[0]" LOC = P126;
NET "matrixrow1[0]" IOSTANDARD = LVTTL;
NET "matrixrow1[1]" LOC = P132;
NET "matrixrow1[1]" IOSTANDARD = LVTTL;
NET "matrixrow1[2]" LOC = P133;
NET "matrixrow1[2]" IOSTANDARD = LVTTL;
NET "matrixrow1[3]" LOC = P138;
NET "matrixrow1[3]" IOSTANDARD = LVTTL;
NET "matrixrow1[4]" LOC = P139;
NET "matrixrow1[4]" IOSTANDARD = LVTTL;
NET "matrixrow1[5]" LOC = P142;
NET "matrixrow1[5]" IOSTANDARD = LVTTL;
NET "matrixrow1[6]" LOC = P143;
NET "matrixrow1[6]" IOSTANDARD = LVTTL;
NET "matrixrow1[7]" LOC = P2;
NET "matrixrow1[7]" IOSTANDARD = LVTTL;

NET "matrixsel2[0]" LOC = P88;
NET "matrixsel2[0]" IOSTANDARD = LVTTL;
NET "matrixsel2[1]" LOC = P111;
NET "matrixsel2[1]" IOSTANDARD = LVTTL;
NET "matrixsel2[2]" LOC = P95;
NET "matrixsel2[2]" IOSTANDARD = LVTTL;
NET "matrixsel2[3]" LOC = P116;
NET "matrixsel2[3]" IOSTANDARD = LVTTL;
NET "matrixsel2[4]" LOC = P100;
NET "matrixsel2[4]" IOSTANDARD = LVTTL;
NET "matrixsel2[5]" LOC = P112;
NET "matrixsel2[5]" IOSTANDARD = LVTTL;
NET "matrixsel2[6]" LOC = P105;
NET "matrixsel2[6]" IOSTANDARD = LVTTL;
NET "matrixsel2[7]" LOC = P117;
NET "matrixsel2[7]" IOSTANDARD = LVTTL;

NET "matrixrow2[0]" LOC = P119;
NET "matrixrow2[0]" IOSTANDARD = LVTTL;
NET "matrixrow2[1]" LOC = P102;
NET "matrixrow2[1]" IOSTANDARD = LVTTL;
NET "matrixrow2[2]" LOC = P115;
NET "matrixrow2[2]" IOSTANDARD = LVTTL;
NET "matrixrow2[3]" LOC = P98;
NET "matrixrow2[3]" IOSTANDARD = LVTTL;
NET "matrixrow2[4]" LOC = P118;
NET "matrixrow2[4]" IOSTANDARD = LVTTL;
NET "matrixrow2[5]" LOC = P93;
NET "matrixrow2[5]" IOSTANDARD = LVTTL;
NET "matrixrow2[6]" LOC = P114;
NET "matrixrow2[6]" IOSTANDARD = LVTTL;
NET "matrixrow2[7]" LOC = P85;
NET "matrixrow2[7]" IOSTANDARD = LVTTL;

NET "keypadp1out[3]" LOC = P15;
NET "keypadp1out[3]" IOSTANDARD = LVTTL;
NET "keypadp1out[2]" LOC = P17;
NET "keypadp1out[2]" IOSTANDARD = LVTTL;
NET "keypadp1out[1]" LOC = P22;
NET "keypadp1out[1]" IOSTANDARD = LVTTL;
NET "keypadp1out[0]" LOC = P24;
NET "keypadp1out[0]" IOSTANDARD = LVTTL;

NET "keypadp1in[3]" LOC = P6;
NET "keypadp1in[3]" IOSTANDARD = LVTTL;
NET "keypadp1in[3]" PULLDOWN;
NET "keypadp1in[2]" LOC = P8;
NET "keypadp1in[2]" IOSTANDARD = LVTTL;
NET "keypadp1in[2]" PULLDOWN;
NET "keypadp1in[1]" LOC = P10;
NET "keypadp1in[1]" IOSTANDARD = LVTTL;
NET "keypadp1in[1]" PULLDOWN;
NET "keypadp1in[0]" LOC = P12;
NET "keypadp1in[0]" IOSTANDARD = LVTTL;
NET "keypadp1in[0]" PULLDOWN;

NET "keypadp2out[3]" LOC = P97;
NET "keypadp2out[3]" IOSTANDARD = LVTTL;
NET "keypadp2out[2]" LOC = P99;
NET "keypadp2out[2]" IOSTANDARD = LVTTL;
NET "keypadp2out[1]" LOC = P101;
NET "keypadp2out[1]" IOSTANDARD = LVTTL;
NET "keypadp2out[0]" LOC = P104;
NET "keypadp2out[0]" IOSTANDARD = LVTTL;

NET "keypadp2in[3]" LOC = P84;
NET "keypadp2in[3]" IOSTANDARD = LVTTL;
NET "keypadp2in[3]" PULLDOWN;
NET "keypadp2in[2]" LOC = P87;
NET "keypadp2in[2]" IOSTANDARD = LVTTL;
NET "keypadp2in[2]" PULLDOWN;
NET "keypadp2in[1]" LOC = P92;
NET "keypadp2in[1]" IOSTANDARD = LVTTL;
NET "keypadp2in[1]" PULLDOWN;
NET "keypadp2in[0]" LOC = P94;
NET "keypadp2in[0]" IOSTANDARD = LVTTL;
NET "keypadp2in[0]" PULLDOWN;

NET "displayp1[0]" LOC = P29;
NET "displayp1[0]" IOSTANDARD = LVTTL;
NET "displayp1[1]" LOC = P50;
NET "displayp1[1]" IOSTANDARD = LVTTL;
NET "displayp1[2]" LOC = P35;
NET "displayp1[2]" IOSTANDARD = LVTTL;
NET "displayp1[3]" LOC = P30;
NET "displayp1[3]" IOSTANDARD = LVTTL;
NET "displayp1[4]" LOC = P27;
NET "displayp1[4]" IOSTANDARD = LVTTL;
NET "displayp1[5]" LOC = P32;
NET "displayp1[5]" IOSTANDARD = LVTTL;
NET "displayp1[6]" LOC = P41;
NET "displayp1[6]" IOSTANDARD = LVTTL;

NET "displayselp1[0]" LOC = P26;
NET "displayselp1[0]" IOSTANDARD = LVTTL;
NET "displayselp1[1]" LOC = P34;
NET "displayselp1[1]" IOSTANDARD = LVTTL;
NET "displayselp1[2]" LOC = P40;
NET "displayselp1[2]" IOSTANDARD = LVTTL;
NET "displayselp1[3]" LOC = P51;
NET "displayselp1[3]" IOSTANDARD = LVTTL;

NET "displayp2[0]" LOC = P67;
NET "displayp2[0]" IOSTANDARD = LVTTL;
NET "displayp2[1]" LOC = P83;
NET "displayp2[1]" IOSTANDARD = LVTTL;
NET "displayp2[2]" LOC = P78;
NET "displayp2[2]" IOSTANDARD = LVTTL;
NET "displayp2[3]" LOC = P66;
NET "displayp2[3]" IOSTANDARD = LVTTL;
NET "displayp2[4]" LOC = P57;
NET "displayp2[4]" IOSTANDARD = LVTTL;
NET "displayp2[5]" LOC = P75;
NET "displayp2[5]" IOSTANDARD = LVTTL;
NET "displayp2[6]" LOC = P80;
NET "displayp2[6]" IOSTANDARD = LVTTL;

NET "displayselp2[0]" LOC = P58;
NET "displayselp2[0]" IOSTANDARD = LVTTL;
NET "displayselp2[1]" LOC = P79;
NET "displayselp2[1]" IOSTANDARD = LVTTL;
NET "displayselp2[2]" LOC = P81;
NET "displayselp2[2]" IOSTANDARD = LVTTL;
NET "displayselp2[3]" LOC = P82;
NET "displayselp2[3]" IOSTANDARD = LVTTL;

NET "cclk" LOC = P70;
NET "cclk" IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44;
NET "spi_mosi" IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45;
NET "spi_miso" IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48;
NET "spi_ss" IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43;
NET "spi_sck" IOSTANDARD = LVTTL;
NET "spi_channel[0]" LOC = P46;
NET "spi_channel[0]" IOSTANDARD = LVTTL;
NET "spi_channel[1]" LOC = P61;
NET "spi_channel[1]" IOSTANDARD = LVTTL;
NET "spi_channel[2]" LOC = P62;
NET "spi_channel[2]" IOSTANDARD = LVTTL;
NET "spi_channel[3]" LOC = P65;
NET "spi_channel[3]" IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55;
NET "avr_tx" IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59;
NET "avr_rx" IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39;
NET "avr_rx_busy" IOSTANDARD = LVTTL;
